<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grey Lodge</title>
</head>
<body>
    <h1>New Book Page</h1>
    
	<form action="/books" method="POST">
		<label>Title: <input type="text" name="title" /></label><br />
		<label>Author: <input type="text" name="author" /></label><br />
        <label>Image: <input type="text" name="img" /></label><br />
		<label>Description: <input type="text" name="description" /></label><br />
        <label>Price: <input type="text" name="price" /></label><br />
        <label>Qty: <input type="text" name="qty" /></label><br />
		<input type="submit" name="" value="Add Book" />
	</form>
</body>
</html>