<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../css/index-style.css" rel="stylesheet" type="text/css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <title>Grey Lodge Books</title>
</head>
<body>
    <div class="intro">
        <h1 class="logo-header">
            <span class="logo">Grey Lodge</span>
        </h1>   
    </div>
    <h4>- rare books -</h4> 
    
	<form action="/books" method="POST">
		<label>Title: <input type="text" name="title" /></label><br />
		<label>Author: <input type="text" name="author" /></label><br />
		<label>Description: <input type="text" name="description" /></label><br />
        <label>Price: <input type="text" name="price" /></label><br />
        <label>Qty: <input type="text" name="qty" /></label><br />
		<input type="submit" name="" value="Add Book" />
	</form>
</body>
</html>